--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.12.1
torchvision==0.13.1
torchaudio==0.12.1
tqdm
decord
timm
einops
opencv_python
bitsandbytes
omegaconf
iopath
webdataset
ftfy
SentencePiece
transformers==4.28.0
pytorchvideo
pycocoevalcap
bert-score
